<h1>Error Registro</h1>

<h2>Este usuario ya existe</h2>

<button onclick="location.href='/views'">Ir a login</button>
{{! funcion onclick para redireccionar al login }}

{{! 1:46 tengo error con el login }}  